* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
   font-family: Arial, sans-serif;
   background: #353535;
   color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
}
button{
    padding: 5px 10px;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.download-box{
    display: flex;
    justify-content: center;
    align-items: center;
}